In [1]:
#declaração das variáveis
# declaração das variáveis
inicio = 0
fim = 100
# verifica quais números são divisíveis por cinco, e exibe aqueles que são
for numero in range(inicio, fim):
    if numero % 5 == 0:
        print(numero)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [2]:
#declaração das variáveis
# declaração das variáveis
inicio = 100
fim = 501
# verifica quais números são divisíveis por cinco, e exibe aqueles que são
for numero in range(inicio, fim):
    isDivByTwo = (numero % 2 == 0)
    isDivByFive = (numero % 5 == 0)
    isDivBySeven = (numero % 7 == 0)
    if isDivByTwo and isDivByFive and isDivBySeven:
    # if (numero % 70 == 0):
        print(numero)

140
210
280
350
420
490

In [3]:
#declaração das variáveis
# declaração das variáveis
inicio = 100
fim = 501
# verifica quais números são divisíveis por cinco, e exibe aqueles que são
for numero in range(inicio, fim):
    if (numero % 2 == 0) and (numero % 5 == 0) and (numero % 7 == 0):
    # if (numero % 70 == 0):
        print(numero)

140
210
280
350
420
490

In [4]:
#declaração das variáveis
# declaração das variáveis
inicio = 0
fim = 1000
divisor = 200
# verifica quais números são divisíveis por cinco, e exibe aqueles que são
for numero in range(inicio, fim):
    if numero % divisor == 0:
        print(numero)

0
200
400
600
800

In [5]:
#declaração das variáveis
# declaração das variáveis
inicio = 0
fim = 1000
divisor = 200
# verifica quais números são divisíveis por cinco, e exibe aqueles que são
while inicio < fim:
    print(inicio)
    inicio += divisor

0
200
400
600
800

In [6]:
# variáveis do tipo string
nome = 'João da Silva'
cidade = 'São Paulo'
cpf = '123.456.789-00'

In [7]:
display(nome.upper())
display(cidade.upper())
cpf.upper()

'JOÃO DA SILVA'

'SÃO PAULO'

'123.456.789-00'

In [8]:
display(nome.lower())
display(cidade.lower())
cpf.lower()

'joão da silva'

'são paulo'

'123.456.789-00'

In [9]:
display(nome.find('ã'))
cidade.find('ã')

2

1

In [10]:
display(len(nome))
display(len(cidade))
display(len(cpf))

13

9

14

In [11]:
cpf.replace('.','').replace('-','')

'12345678900'

In [12]:
numero = '127957'
soma = 0

for i in numero:
    soma += int(i)
print(soma)

31

In [13]:
numero = '127957'
a = int(numero) + 1.0
print(type(a))

<class 'float'>

In [14]:
python

NameError: name 'python' is not defined

In [ ]:
'5'+'5'

'55'

In [ ]:
int('123.456.78900')

ValueError: invalid literal for int() with base 10: '123.456.78900'

In [ ]:
(2 + 3) * 5 -1

24