# Pandas

In [4]:
# importando as bibiliotecas
import pandas as pd

# Leitura de dados

In [6]:
# leitura de dados csv
df = pd.read_csv('https://pycourse.s3.amazonaws.com/temperature.csv')
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [9]:
# leitura de planilhas excel
# 2 abas (worksheets)

#leitura do arquivo todo
excel_file = pd.read_excel('https://pycourse.s3.amazonaws.com/temperature.xlsx')
excel_file
type(excel_file)

pandas.core.frame.DataFrame

In [14]:
# leitura da primeira aba (Sheet 1)
# dados numéricos com separador decimal = ',
df3 = pd.read_excel('https://pycourse.s3.amazonaws.com/temperature.xlsx',sheet_name='Sheet2',decimal=',') # Para interpretar como número
df3

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [16]:
# Visualizar as primeiras 3 linhas
n = 3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [17]:
# Visualizar as últimas 3 linhas
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [18]:
# dtypes
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [19]:
# estatísticas básicas
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [20]:
# dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 276.0+ bytes

In [22]:
# nome das colunas
df.columns = ['col1','col2','col3']
print(df)

         col1  col2          col3
0  2020-01-01  29.1        quente
1  2020-02-01  31.2  muito quente
2  2020-03-01  28.5        quente
3  2020-04-01  28.0        quente
4  2020-05-01  24.0   confortavel
5  2020-06-01  20.0          frio