# Outras operações úteis no pandas

In [1]:
import pandas as pd
df = pd.read_csv('https://pycourse.s3.amazonaws.com/temperature.csv')

In [6]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
# groupby: agrupamento por valores únicos de uma ou mais colunas
df.groupby(by='classification')

In [8]:
# groupby: agrupamento por valores únicos de uma ou mais colunas
df.groupby(by='classification').mean()

                              date  temperatura
classification
confortavel    2020-05-01 00:00:00    24.000000
frio           2020-06-01 00:00:00    20.000000
muito quente   2020-02-01 00:00:00    31.200000
quente         2020-02-20 08:00:00    28.533333

In [ ]:
# groupby: agrupamento por valores únicos de uma ou mais colunas
df.groupby(by='classification').sum()

In [10]:
# drop: remoção de uma coluna
df.drop('temperatura',axis=1)

        date classification
0 2020-01-01         quente
1 2020-02-01   muito quente
2 2020-03-01         quente
3 2020-04-01         quente
4 2020-05-01    confortavel
5 2020-06-01           frio

In [11]:
# cópia de um dataframe: evita compartilhamento de memória
# sem copy(), operações inplace em df2 também alteram df
df2 = df.copy()

In [12]:
# argumento inplace
# inplace = True aplica a transformação no próprio objeto
df2.drop('temperatura',axis=1)

        date classification
0 2020-01-01         quente
1 2020-02-01   muito quente
2 2020-03-01         quente
3 2020-04-01         quente
4 2020-05-01    confortavel
5 2020-06-01           frio

In [13]:
# sem inplace, df2 continua o mesmo
df2.head()

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel

In [14]:
# argumento inplace
# inplace = True aplica a transformação no próprio objeto
df2.drop('temperatura',axis=1,inplace=True)

In [15]:
# com inplace, df2 é alterado
df2.head()

        date classification
0 2020-01-01         quente
1 2020-02-01   muito quente
2 2020-03-01         quente
3 2020-04-01         quente
4 2020-05-01    confortavel

In [16]:
# head
df.head()

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel