# Indexação booleana

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://pycourse.s3.amazonaws.com/temperature.csv')
df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

In [3]:
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [4]:
# transformando o tipo da coluna date para datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [7]:
df.shape
df

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [8]:
# setando o índice
df = df.set_index('date')

In [9]:
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [10]:
# indexação booleana
# seleção de exemplos acima de 25 graus
df[df['temperatura'] >= 25]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [13]:
# indexação booleana
# seleção de entradas até Março de 2020
df[df.index <= '2020-03-01']

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [14]:
# indexação booleana
# seleção de entradas até Março de 2020 e 
# slice na coluna classification
df.loc[df.index <= '2020-03-01',['classification']]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente

In [15]:
# indexação booleana
# seleção de entradas até Março de 2020 e 
# slice na coluna classification
df.iloc[df.index <= '2020-03-01',[-1]]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente